{{>header}}
<form action="">
    <input placeholder="Enter your city" type="text">
    <button type="submit">What is the weather like ?</button>
</form>
<h3 id="location"></h3>
<h4 id="summary"></h4>
<h4 id="data"></h4>
{{>footer}}
