<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{siteTitle}}</title>
    <link rel="icon" href="/img/icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
    <h1>{{title}}</h1>
    <div>
        <a href="/">Météo</a>
        <a href="/about">À propos</a>
        <a href="/help">Je suis perdu</a>
    </div>
</header>
<div class="main-content">
